In [27]:
import requests
import pandas as pd

In [36]:
r = requests.get('http://universities.hipolabs.com/search?country=United+States')
data=r.json()
df=pd.DataFrame(data, columns=['alpha_two_code', 'domains', 'country', 'state-province', 'web_pages'])
df.head()

,alpha_two_code,domains,country,state-province,web_pages
0,US,[marywood.edu],United States,None,[http://www.marywood.edu]
1,US,[lindenwood.edu],United States,None,[http://www.lindenwood.edu/]
2,US,[sullivan.edu],United States,None,[https://sullivan.edu/]
3,US,[fscj.edu],United States,None,[https://www.fscj.edu/]
4,US,[xavier.edu],United States,None,[https://www.xavier.edu/]

Basic descriptive statistics of the dataset.

In [37]:
df.describe()

,alpha_two_code,domains,country,state-province,web_pages
count,2178,2178,2178,45,2178
unique,1,2160,1,16,2175
top,US,[ccc.edu],United States,Pennsylvania,[http://www.coastalpines.edu/]
freq,2178,7,2178,28,2

Number of missing values.

In [40]:
count_nan = df.isna().sum().sum()
print('Count of missing values: ' + str(count_nan))

Count of missing values: 2133

Sum(count) of colleges by state-province

In [41]:
group=df.groupby("state-province")
group.count()

                alpha_two_code  domains  country  web_pages
state-province
CA                           2        2        2          2
California                   1        1        1          1
Colorado                     1        1        1          1
Florida                      1        1        1          1
IN                           1        1        1          1
Iowa                         1        1        1          1
MI                           1        1        1          1
Michigan                     1        1        1          1
ND                           1        1        1          1
North Carolina               1        1        1          1
Ohio                         1        1        1          1
Pennsylvania                28       28       28         28
South Carolina               1        1        1          1
TX                           2        2        2          2
Texas                        1        1        1          1
Washington                   1        1        1          1

List number of rows and columns in the data set.

In [39]:
df.shape

(2178, 5)

Filtering down to only Pennsylvania colleges

In [42]:
df[df['state-province'] == 'Pennsylvania']

,alpha_two_code,domains,country,state-province,web_pages
14,US,"[upmc.edu, upmc.com]",United States,Pennsylvania,[https://www.upmc.com/]
196,US,[bloomu.edu],United States,Pennsylvania,[http://www.bloomu.edu/]
242,US,[cup.edu],United States,Pennsylvania,[http://www.cup.edu/]
282,US,[clarion.edu],United States,Pennsylvania,[http://www.clarion.edu/]
374,US,[esu.edu],United States,Pennsylvania,[http://www.esu.edu/]
377,US,[edinboro.edu],United States,Pennsylvania,[http://www.edinboro.edu/]
460,US,[haverford.edu],United States,Pennsylvania,[http://www.haverford.edu/]
489,US,[iup.edu],United States,Pennsylvania,[http://www.iup.edu/]
527,US,[kutztown.edu],United States,Pennsylvania,[http://www.kutztown.edu/]
574,US,[mansfield.edu],United States,Pennsylvania,[http://www.mansfield.edu/]
610,US,[millersville.edu],United States,Pennsylvania,[http://www.millersville.edu/]
722,US,[pct.edu],United States,Pennsylvania,[http://www.pct.edu/]
723,US,[psu.edu],United States,Pennsylvania,[http://www.psu.edu/]
724,US,[sl.psu.edu],United States,Pennsylvania,[http://www.sl.psu.edu/]
732,US,[pittstate.edu],United States,Pennsylvania,[http://www.pittstate.edu/]
820,US,[ship.edu],United States,Pennsylvania,[http://www.ship.edu/]
827,US,[sru.edu],United States,Pennsylvania,[http://www.sru.edu/]
1071,US,"[upenn.edu, seas.upenn.edu]",United States,Pennsylvania,[http://www.upenn.edu/]
1073,US,[pitt.edu],United States,Pennsylvania,[http://www.pitt.edu/]
1074,US,[upj.pitt.edu],United States,Pennsylvania,[http://www.upj.pitt.edu/]
1075,US,[upb.pitt.edu],United States,Pennsylvania,[https://www.upb.pitt.edu/]
1189,US,[wcupa.edu],United States,Pennsylvania,[http://www.wcupa.edu/]
1242,US,[ycp.edu],United States,Pennsylvania,[http://www.ycp.edu/]
1966,US,[pennhighlands.edu],United States,Pennsylvania,[http://www.pennhighlands.edu]
1967,US,[pit.edu],United States,Pennsylvania,[http://www.pit.edu]
1968,US,[pti.edu],United States,Pennsylvania,[http://www.pti.edu]
1971,US,[upt.pitt.edu],United States,Pennsylvania,[http://www.upt.pitt.edu]
2176,US,[pointpark.edu],United States,Pennsylvania,[https://pointpark.edu/]

Select and print the second and third columns of the data frame.

In [45]:
df.iloc[:,[1,2]]

                        domains        country
0                [marywood.edu]  United States
1              [lindenwood.edu]  United States
2                [sullivan.edu]  United States
3                    [fscj.edu]  United States
4                  [xavier.edu]  United States
...                         ...            ...
2173            [gulfcoast.edu]  United States
2174  [academyart.edu, art.edu]  United States
2175                   [lr.edu]  United States
2176            [pointpark.edu]  United States
2177            [northwood.edu]  United States

[2178 rows x 2 columns]

Select and print the first four rows of the data frame.

In [47]:
df.iloc[0:4]

,alpha_two_code,domains,country,state-province,web_pages
0,US,[marywood.edu],United States,None,[http://www.marywood.edu]
1,US,[lindenwood.edu],United States,None,[http://www.lindenwood.edu/]
2,US,[sullivan.edu],United States,None,[https://sullivan.edu/]
3,US,[fscj.edu],United States,None,[https://www.fscj.edu/]